#enlacesInteres{
  position:relative;
  z-index: 2;
}
.breadcrumb-item.active {
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-bar>.brand a img{
  height: 56px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
.white-space-nowrap{
  white-space: nowrap;
}
#header-um .nav-bar nav>ul>li>a, footer a{
  text-decoration: none;
}
.toolbar-link{
      font-family: "Roboto Condensed", sans-serif;
      text-decoration: none;
}
.breadcrumb {
  background-color: #f8f9fa;
  padding: .25rem .5rem;
  border-radius: 5px;
  font-size: .875rem;
}
.publicacion__cover{
  box-shadow: 0px 10px 8px -6px rgba(0,0,0,.65);
  margin-bottom: 1rem;
}
#publicacion-headings{
  margin-bottom: 1rem;
}
.publicacion__title{
  font-family: 'Intro', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #003a6b;
  line-height: 1.1;
}
.publicacion__subtitle{
  font-size: 1.25rem;
  font-weight: 700;
  font-family: 'Intro', sans-serif;
  color: #6c757d;
  line-height: 1.1;
  margin-bottom: .5rem;
}
.publicacion__en-headings > summary {
  list-style-type: none;
  color: #6c757d;
  font-style: italic;
  font-size: .875rem;
}

.publicacion__en-headings > summary::-webkit-details-marker {
  display: none;
}

.publicacion__en-headings > summary::before {
  content: '\F658';
  font-family: bootstrap-icons, sans-serif !important;
  font-size: 1rem;
  margin-right: .25rem;
  font-style: normal;
}

.publicacion__en-headings[open] > summary::before {
  content: '\F658';
}
.publicacion__en-headings > div{
  padding-top: .5rem;
}
.publicacion__en-headings > div p{
  margin-bottom: .5rem;
  color: #495057;
}
.publicacion__details-list{
  font-size: .875rem;
  background-color: inherit;
}
.publicacion__details-list>.list-group-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}
.publicacion__details-list>.list-group-item >span:first-child {
  padding-right: 4px;
}
.publicacion__details-list>.list-group-item >span:last-child {
  padding-left: 1px;
  text-align: right;
}
.publicacion__details-list>.list-group-item >span {
  background: inherit;
  display: inline-block;
  padding: 0 0px;
  z-index: 2;
}
.publicacion__details-list__buttons{
  text-align: right;
}
.publicacion__details-list__buttons__button-more {
  border: 1px solid grey;
  border-radius: 4px;
  background-color: inherit;
  font-family: 'Intro',sans-serif;
  font-size: .875rem;
  font-weight: 700;
}
.publicacion__details-wrapper{
  background-color: #f7f9f9;
  padding: .5rem .25rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.buttons-share-wrapper{
  margin-bottom: 1rem;
}
.buttons-share__title{
  margin-bottom: .5rem;
}
.buttons-share{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.buttons-share__title{
  display: block;
  margin-bottom: .5rem;
}
.buttons-share__button-social{
  border: 1px solid #003a6b;
  border-radius: 8px;
  padding: .25rem 1rem;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}
.buttons-share__button-social{
  color: #004a87;
}
.buttons-share .buttons-share__button-social:not(:last-child){
  margin-right: .5rem;
}

.list-group-flush>.list-group-item:hover {
  background-color: #f7f9f9;
}

.publicacion__details-list>.list-group-item:before {
  content: "";
  position: absolute;
  left: .5rem;
  top: 50%;
  width: calc(100% - 1rem);
  border-top: 1px dashed #E0E0E0;
}
.publicacion__details{
  display: flex;
  align-items: center;
  font-size: .875rem;
  background-color: #f6fbf6;
  border-radius: 8px;
  padding: .25rem .5rem;
  margin-bottom: 1rem;
}
.publicacion__details div{
  padding: 0 .25rem;
  line-height: 1.1;
}
.publicacion__details div:not(:last-child){
  padding-right: .5rem;
  border-right: 1px solid #d4ecd5;
}
.publicacion__details__format .format{
  display: inline-block;
  padding: 4px 6px;
  border-radius: 6px;
  background-color: #419544;
  color: white;
  font-weight: 700;
}
.publicacion__details__format .format.format-ebook{
  background-color: dodgerblue;
}
.publicacion__abstract{
  margin-bottom: 1rem;
  position: relative;
}
.publicacion__abstract > p{
  -webkit-line-clamp: 8;
  max-height: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box!important;
  -webkit-box-orient: vertical;
  margin-bottom: .5rem;
}
.publicacion__abstract__buttons{
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  transition: all .5s ease-in-out;
}
.publicacion__abstract:hover .publicacion__abstract__buttons{
  display: block;
}
.publicacion__abstract .button-view-more-abstract{
  background: white;
  border: 0;
  border-radius: 4px;
  padding: 0 .5rem;
  font-size: .875rem;
  font-weight: 700;
  color: #0d6efd;
}
.publicacion__access-options{
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #fffcf5;
  border-radius: 8px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.publicacion__access-options > span{
  font-size: .875rem;
  display: block;
  margin-bottom: .5rem;
}
.publicacion__access-options__list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.publicacion__access-options__list li{
  padding: .5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.publicacion__access-options__list li a{
  border-radius: 6px;
  background: #f57c00;
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0px 6px;
  font-size: .875rem;
  display: inline-block;
}
.publicacion__access-options__list li a span {
  font-size: .75rem;
  display: inline-block;
  margin-left: .25rem;
}
.publicacion__access-options__list li:not(:last-child){
  border-bottom: 1px solid #eee;
}
.publicacion__access-options.open-access{
  text-align: center;
}
.publicacion__access-options.open-access img{
  height: 56px;
  display: block;
  margin: 0 auto;
  margin-bottom: .5rem;
}
.publicacion__access-options.open-access .button-read {
  background-color: #419544;
  padding: .5rem 1rem;
  border-radius: 16px;
  color: white;
  text-decoration: none;
  font-size: 1.25rem;
  font-family: 'Intro', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}
#accordionPublicacion .accordion-item{
  border: 0;
}
#accordionPublicacion .accordion-button:focus{
  box-shadow: 0 0 0 0.25rem rgba(65, 149, 68, 0.25);
}
#accordionPublicacion .accordion-button.collapsed {
  border-radius: 10px;
  border: 1px solid #d9e0e3;
  margin-bottom: .5rem;
}
#accordionPublicacion .accordion-button:not(.collapsed) {
  font-weight: 700;
  border: 1px solid #d9e0e3;
  color: #2a602c;
  background-color: #f6fbf6;
}
#accordionPublicacion .accordion-collapse.show {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 1px solid #d9e0e3;
  margin-bottom: .5rem;
}

.accordion-authors-list__author{
  display: flex;
  align-items: center;
}
.accordion-authors-list__author__info{
  display: flex;
  align-items: center;
  flex-grow: 2;
  padding-right: 1rem;
}
.accordion-authors-list__author__info__icon{
  height: 32px;
  width: 32px;
  min-width: 32px;
  border-radius: 50%;
  background-color: #dee2e6;
  margin-right: .5rem;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordion-authors-list__author__info a{
  text-decoration: none;
  color: #333333;
}
.accordion-authors-list__author__button a{
  display: inline-block;
  border: 0;
  padding: .25rem .875rem;
  background: #003a6b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: "Intro",sans-serif;
  font-weight: 700;
  font-size: .875rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}

.keywords {
  margin-bottom: 1rem;
}

.keywords .keywords__keyword:not(:last-child) {
  margin-right: .5rem;
}
span.keywords__keyword {
  padding: 2px 4px;
  border: 1px solid #9caeb7;
  color: #435861;
  border-radius: 4px;
  margin-bottom: .5rem;
}


  .publicacion__authors{
    display: flex;
    width: 100%;
  }
  .publicacion__authors--visibles{
    -webkit-line-clamp: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-inline-box!important;
    -webkit-box-orient: horizontal;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
  }
  .publicacion__authors--visibles.with-no-visibles{
    width: auto;
    padding-right: 1rem;
  }
  .publicacion__authors--visibles.with-no-visibles:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    height: 36px;
    /* box-shadow: 0px 0px 3px 0px rgba(0,0,0,.65); */
    background: rgb(213,213,213);
    background: linear-gradient(90deg, rgba(213,213,213,0) 0%, rgba(255,255,255,0.8481443602831757) 50%, rgba(255,255,255,1) 100%);
    /* background: white; */
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .publicacion__authors--visibles .publicacion__authors__author:not(:last-child){
    margin-right: .5rem;
    align-items: center;
  }
  .publicacion__authors__author{
    display: inline-flex;
    align-items: center;
    background-color: #dee2e6;
    color: #495057;
    border-radius: 16px;
    padding: 0 0.75rem;
    position: relative;
    margin-bottom: .5rem;
    border: 0;
  }
  .publicacion__authors__author--without-avatar{
    white-space: nowrap;
    height: 36px;
  }
  .publicacion__authors__author__avatar{
    width: 2.25rem;
    height: 2.25rem;
    margin-left: -0.75rem;
    margin-right: 0.5rem;
    background: white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  .publicacion__authors__author a{
    text-decoration: none;
    color: #333;
  }
  #collapseFeatures .publicacion__details-list__label{
    font-weight: 700;
  }
  #collapseFeatures .publicacion__details-list>.list-group-item:hover{
    background-color: #f7f9f9;
  }