.revistas-heading{
    padding: 1rem .5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: 1px solid #eeeeee;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
}
#logo-revistas{
    max-height: 72px;
    max-width: 100%;
}
.button-journal{
    background-color: white!important;
    color:#003a6b!important;
    border: 1px solid #003a6b!important;
    margin-right: .5rem;
}
.link-access {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: end;
}
.link-access li:not(:last-child) {
    margin-right: .5rem;
}
.link-access li > a {
    text-decoration: none;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #004a87;
}
@media only screen and (min-width: 768px) {
    .catalogo__data.data-thumb .card-data__cover {
        height: 284px;
    }
}

@media only screen and (min-width: 1024px) {
    .catalogo__data.data-thumb .card-data__cover {
        height: 288px;
    }
}

@media only screen and (min-width: 1440px) {
    .catalogo__data.data-thumb .card-data {
        width: calc((100% / 5) - .5rem);
    }
    .catalogo__data.data-thumb .card-data__cover {
        height: 320px;
    }
}